html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  width: 1000px;
  height: 500px;
  background-color: black;
  -webkit-box-shadow: -2px 19px 86px -40px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 19px 86px -40px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 19px 86px -40px rgba(0, 0, 0, 0.75);
}

.flex-container > div {
  flex-grow: 1;
  height: 100%;
  filter: grayscale(100%);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.bg-size {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container > div:hover {
  flex-grow: 2;
  filter: grayscale(0%);
}

.flex-container > div.focus {
  flex-grow: 20;
  filter: grayscale(0%);
}

.close {
  width: 18px;
  height: 18px;
  margin-top: 10px;
  margin-right: 80px;
  padding: 10px;
  float: right;
  opacity: 0;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.show {
  opacity: 1;
  transform: rotate(180deg);
  margin-right: 25px;
}

.no-pointer-events {
  pointer-events: none;
}
